{% extends 'base.html' %}

{% block content %} 

<h4>Puede rellenar los tres campos o solo uno para buscar</h4>
 <!-- Formulario utilizado para buscar entre los registros en cliente-->
<form method="GET">
    <input type="text" placeholder="Apellidos" id="lastname" name="lastname">
    <br>
    <input type="text" placeholder="Nombre" id="name" name="name">
    <br>
    <input type="text" placeholder="Dni" id="dni" name="dni">
    <br>
    <input type="submit" value="Buscar">

</form>


<h4>Busqueda entre:</h4>
<ul>        <!-- For utilizado para listar los registros en cliente-->
    {% for cliente in clientes %}
        <li>{{cliente.dni}}, {{cliente.apellido}}, {{cliente.nombre}}</li>
    {% endfor %}
</ul>

{% endblock content %}
    