{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4">Borrar Clientes</h1>
<div class="row m-0 justify-content-center">
    <div class="card mt-5">
        <img class="card-img-top" src="{% static 'images/user.png' %}" alt="Card image" style="width:100%">
        <div class="card-body">
            
            <h3>¿Desea borrar este cliente?</h3>
            <form method="POST">{% csrf_token %}    <!-- Permite prevenir falsificaciónes de solicitudes entre sitios.-->
                <input class="btn btn-primary" type="submit" value="Borrar">
            </form>

        </div>
    </div>
</div>
{% endblock content %}


