{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="text-center display-4">DETALLES DE CLIENTE</h3>

<div class="row m-0 justify-content-center">
    
    <div class="card mt-5">
        <img class="card-img-top" src="{% static 'images/user.png' %}" alt="Card image" style="width:100%">
        
        <div class="card-body">
            <h4 class="card-title">{{detalle.nombre}} {{detalle.apellido}}</h4>
            <p class="card-text">DNI: {{detalle.dni}}</p>

            <a href="{% url 'cliente_app:panel-cliente'%}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>
{% endblock content %}
