{% extends 'base.html' %}
{% load static %}

{% block panel %}

<h1>PANEL DE CLIENTES</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
        <!-- Links LISTADO CLIENTES-->
        <ul class="navbar-nav">
          
            <li class="nav-item">
                <a class="nav-link" href="#">MODIFICAR</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="#">CREAR</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="#">BORRAR</a>
            </li>

            <!-- Dropdown DE ACCIONES -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    ORDENAR
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cliente_app:cliente-nombre'%}">Por Nombre</a>
                    <a class="dropdown-item" href="{% url 'cliente_app:cliente-apellido'%}">Por Apellido</a>
                    <a class="dropdown-item" href="{% url 'cliente_app:cliente-dni'%}">Por DNI</a>
                </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cliente_app:logout-cliente'%}">Salir</a>
            </li>

        </ul>

    </div>
      
            <form method="GET" class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar" id="{{ cliente.dni }}">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>

</nav>



<div class="table-responsive">

    <table class="table table-dark table-hover table-wrapper-scroll-y">
        <thead>
            <tr>
                <th>Seleccionar</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
            </tr>
        </thead>
    
        {% for cliente in clientes %}
        <tbody>
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input method="GET" type="checkbox" name="checkbox" value="{{ cliente.dni }}">
                    </div>
                </td>                
                <td id="dato" name="dato">{{cliente.nombre}}</td>
                <td id="dato" name="dato">{{cliente.apellido}}</td>
                <td id="dato" name="dato">{{cliente.dni}}</td>
            </tr>
        </tbody>
        {% endfor %}
        
  </table>
</div>

{% endblock panel %}
    