<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    
    <title>Despensa con Django</title>

</head>
<body>
    <div class="container mt-3">
    
        {% block panel %}
        {% endblock panel %}
        
        {% block content %}
        {% endblock content %}

    </div>

    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

</body>
</html>